<tbody id="tabla-body">
	{% for object in object_list %}
	<tr>
		<td>{{object.nombre}}</td>
		<td>{{object.descripcion}}</td>
		<td>{{object.fecha_creacion}}</td>
		<td>{{object.fecha_ultima_modificacion}}</td>
		<td>
			{% with object_forms_list|dict_key:object.id as object_forms %}
				{% if object_forms %}
					{% with object_forms|dict_key:'Eliminar' as form %}
						<form method="POST" class="eliminar-form" id="id_{{object.id}}_eliminar-form">
							{% csrf_token %}
							{{form}}
							<input class="btn btn-eliminar24 shadow-none" type="submit" name="{{form.nombre_form}}">
						</form>
					{% endwith %}
				{% endif %}
			{% endwith %}
		</td>
	</tr>
	{% endfor %}
</tbody>